<table>
  <tr>
    <th>Od:</th>
    <th>Wiadomosc:</th>
  </tr>
  <% for message in messages %>
    <tr>
      <td><%=h message.from %></td>
      <td class="content"><%=h truncate(message.content, :length => 80) %></td>
      <td class="actions"><%= link_to 'Pokaz', message %> | <%= link_to 'Edytuj', edit_message_path(message) %> | <%= link_to 'Usun', message, :confirm => "Jestes pewny?", :method => :delete %></td>
    </tr>
  <% end %>
</table>
