<h3>Dotyczy ticketu:</h3>
[<%=h @ticket.category.name %>]<br/>
Zamówienie: <%=h @ticket.order_number %><br/>
Pracownik: <%=h @ticket.employee_name %><br/>
E-mail kontaktowy: <%=h @ticket.email %><br/>

<h3>Od:</h3>
<%=h @message.from %>
<h3>Wiadomość:</h3>
<%=h @message.content %>

