<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Tickets: <%= controller.action_name %></title>
    <% #= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'stylesheet' %>
    <%= javascript_include_tag 'jquery', 'jquery-ui-1.7.2.custom', 'jquery.jeditable', 'less_routes', 'application' %>
  </head>
  <body>
    <div id="header"> <a href="/">Root</a><br /> <h1><%= yield :title %></h1> </div>
    <div id="menu">
      <ul>
        <li class="<%= @filters['pending']  %>" > <%= link_to 'Oczekujące', admin_tickets_path+'?scope=pending' %> </li>
        <li class="<%= @filters['opened']  %>" > <%= link_to 'Otwarte', admin_tickets_path+'?scope=opened' %> </li>
        <li class="<%= @filters['closed']  %>" > <%= link_to 'Zamknięte', admin_tickets_path+'?scope=closed' %> </li>
        <li class="<%= @filters['all']  %>" > <%= link_to 'Wszystkie', admin_tickets_path %> </li>
      </ul>
      <div>
        <ul>
          <li><%= link_to 'Nowy ticket', new_admin_ticket_path %></li>
        </ul>
      </div>
      <% unless @ticket.nil? || @ticket.id.nil? -%>
        <%= render :partial => 'admin/tickets/ticket_info', :locals => { :ticket => @ticket } %>
      <% end -%>
    </div>
    <div id="main">
      <% unless flash[:notice].nil? -%>
        <p id="flash-notice"><%= flash[:notice] %></p>
      <% end -%>
      <% unless flash[:warning].nil? -%>
        <p id="flash-warning"><%= flash[:warning] %></p>
      <% end -%>
      <%= yield -%>
    </div>
    <div id="footer"></div>

  </body>
</html>

