<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Kategorie zgłoszeń: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
        <% unless flash[:notice].nil? -%>
          <p id="flash-notice"><%= flash[:notice] %></p>
        <% end -%>
        <% unless flash[:warning].nil? -%>
          <p id="flash-warning"><%= flash[:warning] %></p>
        <% end -%>

<%= yield  %>
<br/><br/><br/><br/><br/>
<a href="/">Root</a>
</body>
</html>
