<table id="messages_list">
  <% for message in messages %>
    <% next if message.id.nil? %>
    <tr class="highlightable" id="<%= message.id %>">
      <td class="message_from <%= message.from_client ? 'from_client' : 'from_shop' %>">
        <%= message.from_client ? 'Klient' : 'Sklep' %>
      </td>
      <td class="message_content"><%=h truncate(message.content, :length => 90) %></td>
      <td class="timestamp"><%=h event_time(message.created_at) %></td>
      <td class="actions"><%= link_to 'E', edit_admin_message_path(message) %> | 
        <%= link_to 'U', [:admin,message], :confirm => "Jestes pewny?", :method => :delete %></td>
    </tr>
  <% end %>
  <tr class="message">
        <td colspan="5"><%= render :partial => 'admin/messages/show', :locals => { :message => @ticket.last_message } %></td>
  </tr>
</table>
