<table id="messages_list">
  <% for message in messages %>
    <tr class="highlightable" id="<%= message.id %>">
      <td class="message_from"><%=h message.from %></td>
      <td class="message_content"><%=h truncate(message.content, :length => 90) %></td>
      <td class="timestamp"><%=h event_time(message.created_at) %></td>
      <td class="actions"><%= link_to 'E', edit_admin_message_path(message) %> | 
        <%= link_to 'U', [:admin,message], :confirm => "Jestes pewny?", :method => :delete %></td>
    </tr>
  <% end %>
  <tr class="message">
        <td colspan="5"><%= render :partial => 'admin/messages/show', :locals => { :message => message } %></td>
  </tr>
</table>
