<%= f.label :category_id %>
<%= f.collection_select :category_id, @categories, :id, :name %>
</p>
<p>
<%= f.label :employee_name %>
<%= f.text_field :employee_name %>
</p>
<p>
<%= f.label :order_number %>
<%= f.text_field :order_number %>
</p>
<p>
<%= f.label :email %>
<%= f.text_field :email %>
</p>
