<h1>Edycja ticketu</h1>

<% form_for(@ticket) do |f| %>
  <%= f.error_messages %>

  <p>
  <%= f.label :basic_state_event, "Basic state:" %>
  <%= f.collection_select :basic_state_event, @ticket.basic_state_transitions, :event, :to_name, :include_blank => @ticket.basic_state_name.to_s %>
  <p>
  <%= f.label :category_id %><br />
  <%= f.select(:category_id, @categories.collect { |c| [ c.name, c.id ] }) %>
  </p>
  <p>
  <%= f.label :employee_name %><br />
  <%= f.text_field :employee_name %>
  </p>
  <p>
  <%= f.label :order_number %><br />
  <%= f.text_field :order_number %>
  </p>
  <p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
  </p>
  <p>
  <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Pokaż', @ticket %> |
<%= link_to 'Lista', tickets_path %>


