<h1>Lista ticketów</h1>

<table>
  <tr>
    <th>Kategoria</th>
    <th>Pracownik</th>
    <th>E-mail klienta</th>
    <th>Numer zamówienia</th>
  </tr>

  <% for ticket in @tickets %>
    <tr>
      <td><%=unless ticket.category.nil?
               h ticket.category.name
             else
               "Błędna kategoria!"
             end
          %></td>
      <td><%=h ticket.employee_name %></td>
      <td><%=h ticket.email %></td>
      <td><%=h ticket.order_number %></td>
      <td><%= link_to 'Pokaż', ticket %></td>
      <td><%= link_to 'Edytuj', edit_ticket_path(ticket) %></td>
      <td><%= link_to 'Usuń', ticket, :confirm => 'Jesteś pewny?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Nowy ticket', new_ticket_path %>

