<p>
  <b>Kategoria:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Status:</b>
  <%=h @ticket.basic_state %>
</p>

<p>
  <b>Pracownik:</b>
  <%=h @ticket.employee_name %>
</p>

<p>
  <b>Numer zlecenia:</b>
  <%=h @ticket.order_number %>
</p>

<p>
  <b>Email:</b>
  <%=h @ticket.email %>
</p>


<%= link_to 'Edytuj', edit_ticket_path(@ticket) %> |
<%= link_to 'Dodaj wiadomosc', new_ticket_message_path(@ticket) %> |
<%= link_to 'Lista', tickets_path %>

<% unless @ticket.messages.empty? %>
  <h3>Wiadomości:</h3>
  <%= render :partial => "/messages/messages", :locals => { :messages => @ticket.messages } %>
<% end %>

