<% content_for :title do %>
  Ticket
<% end %>

<p>
  <b>Category:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Basic state:</b>
  <%=h @ticket.basic_state %>
</p>

<p>
  <b>Employee name:</b>
  <%=h @ticket.employee_name %>
</p>

<p>
  <b>Order number:</b>
  <%=h @ticket.order_number %>
</p>

<p>
  <b>Email:</b>
  <%=h @ticket.email %>
</p>

<%= render :partial => @ticket[:type].downcase + ".show", :locals => { :ticket => @ticket } unless @ticket[:type] == "Ticket" %>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Add message', new_ticket_message_path(@ticket) %> |
<%= link_to 'List', tickets_path %>

<% unless @ticket.messages.empty? %>
  <h3>Messages:</h3>
  <%= render :partial => "/messages/messages", :locals => { :messages => @ticket.messages } %>
<% end %>

