<p>
<%= f.label :state_event %>
<%= f.select :state_event, sm_select( @ticket.state_transitions ,@ticket.state_name.to_s) %>
<% logger.info "VIEW: " + @ticket.state_transitions.inspect %>
</p>
<p>
<%= f.label :subject %>
<%= f.text_field :subject %>
</p>
<p>
<%= f.label :explanation %>
<%= f.text_area :explanation, :size => "40x15" %>
</p>
