<div class="ticket_info" id="<%= @ticket.id %>">
  <ul>
    <li><%= link_to 'Nowa wiadomość', new_admin_ticket_message_path(ticket) %></li>
    <li><%= link_to 'Edytuj informacje', edit_admin_ticket_path(ticket) %></li>
    <li><%= link_to 'Lista wiadomości',[:admin,ticket] %></li>
  </ul>

  <p>
  <em>[<%=h ticket.ticket_category.name %>]</em>
  </p>
  <p style="margin:0;padding:0;display:inline;display:none;" id="authenticity_token"><%= form_authenticity_token.to_json %></p>
  <p style="margin:0;padding:0;display:inline;display:none;" id="type"><%= ticket[:type].downcase %></p>
  <p>
  <%= event_date(ticket.created_at) %>
  </p>
  
  <p class="label">Status:</p>
  <p class="editable_transition" id="basic_state_event"><%=h ticket.basic_state %></p>

  <p class="label">Pracownik:</p>
  <p class="editable" id="employee_name"><%=h ticket.employee_name %></p>

  <p class="label">Numer zamówienia</p>
  <p class="editable" id="order_number"><%=h ticket.order_number %></p>

  <p class="label">E-mail</p>
  <p class="editable" title="<%= ticket.email %>" id="email"><%=h ticket.email %></p>
  <%= render :partial => 'admin/tickets/' + ticket[:type].downcase + '.show', :locals => { :ticket => ticket } unless ticket[:type] == 'Ticket' %>
</div>
