<% content_for :title do %>
  Edycja zgłoszenia
<% end %>

<% form_for [:admin, @ticket] do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
  <%= f.label :basic_state_event %>
  <%= f.select :basic_state_event, sm_select(@ticket.basic_state_transitions, @ticket.basic_state_name.to_s) %>
  <p>
  <%= render :partial => @ticket[:type].downcase + ".edit", :locals => { :f => f } unless @ticket[:type] == "Ticket" %>
  <p>
  <%= f.submit 'Update' %>
  </p>
<% end %>


