<% content_for :title do %>
  <%= @scope.capitalize + ' ' unless @scope.nil?  %>Tickets
<% end %>
<div id="page_entries_info"><%= page_entries_info @tickets %></div>
<table id="tickets_list">
  <% if @tickets.empty? -%>
    <p id="info">Brak ticketów w bieżącym widoku.</p>
  <% end -%>
  <% for ticket in @tickets -%>
    <tr class="highlightable" id="<%= ticket.id %>">
      <td class="basic_state"><img src="/images/<%=h simplify_basic_state(ticket.basic_state) %>.png"
        alt="<%=h ticket.basic_state%>" title="<%=h ticket.basic_state%>" /></td>
      <td class="category">
        <%= unless ticket.category.nil?
             h truncate(ticket.category.name, :length => 12)
           else
             "Błędna kategoria!"
           end -%>
      </td>
      <td class="email"><%=h ticket.email %></td>
      <td class="last_message"><%=h truncate(ticket.last_message.content, :length => 55) unless ticket.last_message.nil?%></td>
      <td class="timestamp"><%=h event_time(ticket.created_at) %></td>
      <td class="actions"><%= link_to 'P', [:admin,ticket] %> | <%= link_to 'E', edit_admin_ticket_path(ticket) %> |
         <%= link_to 'U', [:admin,ticket], :confirm => 'Jesteś pewny?', :method => :delete %></td>
    </tr>
  <% end -%>
</table>
<%= will_paginate @tickets %>

