<% content_for :title do %>
  <%= sm_ts(@scope).capitalize + ' ' unless @scope.nil?  %>Zgłoszenia
<% end %>
<div id="page_entries_info"><%= page_entries_info @tickets %></div>
<table id="tickets_list">
  <% if @tickets.empty? -%>
    <p id="info">Brak ticketów w bieżącym widoku.</p>
  <% end -%>
  <% for ticket in @tickets -%>
    <tr class="highlightable" id="<%= ticket.id %>">
      <td class="basic_state"><img src="/images/<%=h simplify_basic_state(ticket.basic_state) %>.png"
        alt="<%=h ticket.basic_state%>" title="<%=h ticket.basic_state%>" /></td>
      <td class="ticket_category">
        <%= unless ticket.ticket_category.nil?
             h truncate(ticket.ticket_category.name, :length => 12)
           else
             "Błędna kategoria!"
           end -%>
      </td>
      <td class="email"><%=h ticket.email %></td>
      <td class="last_message <%= 'client' if !ticket.last_message.nil? && ticket.last_message.from_client %>">
        <%=h truncate(ticket.last_message.content, :length => 55) unless ticket.last_message.nil?%>
      </td>
      <td class="timestamp">
        <%=h ticket.last_message.nil? ? event_time(ticket.created_at) : event_time(ticket.last_message.created_at) %>
      </td>
      <td class="actions"><%= link_to '[X]', [:admin,ticket], :confirm => 'Jesteś pewny?', :method => :delete %></td>
    </tr>
  <% end -%>
</table>
<%= will_paginate @tickets %>

