<h1>Editing category</h1>

<% form_for [:admin, @ticket_category] do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :ticket_type %>
    <%= f.select :ticket_type, TICKET_TYPES.collect { |c| [ c.capitalize, c ] } %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [:admin,@ticket_category] %> |
<%= link_to 'Back', admin_ticket_categories_path %>
