<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Tickets: <%= controller.action_name %></title>
    <% #= stylesheet_link_tag 'scaffold' %>
    <%= stylesheet_link_tag 'stylesheet' %>
  </head>
  <body>
    <div id="header"> <a href="/">Root</a><br /> <h1><%= yield :title %> </div>
      <div id="left">
        <ul>
          <li class="<%= @filters['pending']  %>" > <%= link_to 'Oczekujące', tickets_path+'?scope=pending' %> </li>
          <li class="<%= @filters['opened']  %>" > <%= link_to 'Otwarte', tickets_path+'?scope=opened' %> </li>
          <li class="<%= @filters['closed']  %>" > <%= link_to 'Zamknięte', tickets_path+'?scope=closed' %> </li>
          <li class="<%= @filters['all']  %>" > <%= link_to 'Wszystkie', tickets_path %> </li>
        </ul>
        <%= link_to 'Nowy ticket', new_ticket_path %>
      </div>
      <div id="main">
        
        <% unless flash[:notice].nil? -%>
          <p id="flash-notice"><%= flash[:notice] %></p>
        <% end -%>
        <% unless flash[:warning].nil? -%>
          <p id="flash-warning"><%= flash[:warning] %></p>
        <% end -%>
        <%= yield %>
      </div>
      <div id="footer"></div>
     
    </body>
  </html>

